*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    background-image: linear-gradient(to right,#33fcff,#e6ffff);
}



.row{
    padding-top: 40px;
    padding-left: 250px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
    font-size: 25px;
}
@media only screen and (max-width: 620px)
{
    .row{
        padding-top: 15px;
        padding-left:100px;
        width: 100%;
        
    }
  
    .col{
        align-items: center;
        padding-top: 15px;
    }
    
    
    
   
    
  
}
#text1{
    color: rgb(0, 78, 167);
    font-size: 20px;
    padding-left: 120px;
    align-items: center;
}
#text2{
    color: rgb(0, 78, 167);
    font-size: 20px;
    padding-left: 80px;
    
}
.navbar-nav .nav-link{
    text-align: center;
    
}
#text1:hover{
    
    color: #3987cf;
}
#text2:hover{
    
    color: #3987cf;
}

button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 15px 40px;
    border: 3px solid #2caabe;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #2caabe;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color:  #2caabe;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }
  .form1{
    background-color: #2caabe;
  }
  