*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100%;
    background-image: linear-gradient(to right,#33fcff,#e6ffff);
}



.row{
    padding-top: 40px;
    padding-left: 250px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
    font-size: 25px;
}
@media only screen and (max-width: 620px)
{
    .row{
        padding-top: 15px;
        padding-left:100px;
        width: 100%;
        
    }
  
    .col{
        align-items: center;
        padding-top: 15px;
    }
    
    
    
   
    
  
}
#text1{
    color: rgb(0, 78, 167);
    font-size: 20px;
    padding-left: 120px;
    align-items: center;
}
#text2{
    color: rgb(0, 78, 167);
    font-size: 20px;
    padding-left: 80px;
    
}
.navbar-nav .nav-link{
    text-align: center;
    
}
#text1:hover{
    
    color: #3987cf;
}
#text2:hover{
    
    color: #3987cf;
}